footer.footer
  img(src="images/homepage_footer.jpg", alt="").footer-banner
  .row
    .columns.medium-6
      p.copyright All works &copy; Heather Argus 2015.
    .columns.medium-6
      ul.social-media-list
        li
          a(href="#", target="_blank")
            img(src="images/social-icons/dribbble.png", alt="Dribble")
        li
          a(href="#", target="_blank")
            img(src="images/social-icons/linkedin.png", alt="LinkedIn")
        li
          a(href="#", target="_blank")
            img(src="images/social-icons/instagram.png", alt="Instagram")
        li
          a(href="#", target="_blank")
            img(src="images/social-icons/behance.png", alt="Behance")

