header.header.page-padding
  .row
    .columns
      .row
        .columns.medium-5
          h1.h1#h1
            span.visuallyhidden heather.
            img#heather-image(src="images/header-heather.png", alt="")
        .columns.medium-7
          ul.nav-list
            li
              a(href="#") work.
            li
              a(href="#") about.
            li
              a(href="#") contact.
            li
              a(href="#") resume.
