doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Heather Argus | Graphic Designer
    meta(name="description", content="Heather Argus | Graphic Designer")
    <script src="//use.typekit.net/hmb2zfg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .container
      include _header.jade
      main#main.main
        .page-padding
          .row
            .columns
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea eius quasi quisquam officiis tempora placeat, quod deserunt voluptatum, debitis quibusdam, praesentium labore asperiores aliquid rerum similique repudiandae cupiditate eaque.


      include _footer.jade
    include _scripts.jade
