doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Heather Argus | Graphic Designer
    meta(name="description", content="Heather Argus | Graphic Designer")
    <script src="//use.typekit.net/hmb2zfg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .container
      header.header.page-padding
        .row
          .columns.medium-centered.medium-10
            h1.logo#h1
              span.visuallyhidden heather.
              img#heather-image(src="images/header-heather.png", alt="").invisible
            hr.short
            .overview
              p(data-image-filename="images/header-heather.png") graphic designer.
              p(data-image-filename="images/header-firecracker.png") firecracker.
              p(data-image-filename="images/header-catcuddler.png") cat cuddler.
            a(href="#projects").button view work.
      main#main.main
        section#projects.projects-section
          header.visuallyhidden
            h1 projects
          //- ul.project-grid.small-block-grid-2.medium-block-grid-3
          ul.project-grid
            li
              a(href="project.html")
                img(src="images/project-thumbs/bassproTOC_color_72dpi.jpg", alt="")
                .overlay
                  h2 project name.
            li
              a(href="project.html")
                img(src="images/project-thumbs/Critical_Eating_Color_72dpi.jpg", alt="")
                .overlay
                  h2 project name.
            li
              a(href="project.html")
                img(src="images/project-thumbs/OntarioPathways_Color_72dpi.jpg", alt="")
                .overlay
                  h2 project name.
            li
              a(href="project.html")
                img(src="images/project-thumbs/OntarioPathways_Color_72dpi.jpg", alt="")
                .overlay
                  h2 project name.
            li
              a(href="project.html")
                img(src="images/project-thumbs/OntarioPathways_Color_72dpi.jpg", alt="")
                .overlay
                  h2 project name.
        section#about.about-section.page-padding
          .row
            .columns.medium-centered.medium-10
              header
                h1.title-2 about heather.
              div
                img(src="images/heather.jpg", alt="").heather
                p Heather Argus is a graphic designer currently working in Rochester, NY but on the move to Oceanside, CA. She is dedicated, hard-working and always eager to learn new design skills. When she is not designing, she can be found hiking, traveling, photographing landscapes, exploring, or cuddling cats.
                a(href="#").button resume.
                a(href="#").button contact.

      include _footer.jade
    include _scripts.jade
